# Dependencies
node_modules/
*/node_modules/
.pnpm-store/

# Production build outputs
dist/
dist-ssr/
*/dist/

# Temporary / Lock files
.~lock.*
*.log
*.local

# OS / Editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
